<!-- login page -->
<things-login data-route="login"
              route ="{{route}}"
              title="Elidom"
              login-path="login"
              content-type="application/x-www-form-urlencoded"
              success-route="home"
              username-input-label="ID"
              password-input-label="Password"
              submit-label ="Submit"
              Reset-label = "Reset">
  <img avatar src="https://maps.gstatic.com/tactile/pane/default_geocode-1x.png"/>
</things-login>

<!-- demo page -->
<section class="Page" data-route="demo">
    <paper-material class="Page-paper" elevation="1">
        <things-demo title="Elidom Demo"></things-demo>
    </paper-material>
</section>

<!-- sample page -->
<section class="Page" data-route="image_viewer">
    <paper-material class="Page-paper" elevation="1">
      <things-resource
        auto
        content-type="application/json"
        resource="attachments"
        action="list/image"
        method="get"
        select-fields="id,name"
        last-response="{{cardItems}}">
      </things-resource>

      <things-card-list items="[[cardItems.items]]" ></things-card-list>
    </paper-material>
</section>

<!-- API Document page -->
<section class="Page" data-route="apidoc">
    <paper-material class="Page-paper" elevation="1">
    	<a href="elements/index.html">apiDoc</a>
    </paper-material>
</section>

<!-- Resouce Selector Sample page -->
<section class="Page" data-route="resource_selector">
    <paper-material class="Page-paper" elevation="1">
        <paper-input label="dropdown-seletor" 
                      data-selector ="resouceDropSelector" 
                      on-tap="open"
                      value = "{{dropSelectedRow.name}}">

        </paper-input>

        <input is="iron-input" 
                bind-value="{{dropSelectedRow.name}}"
                data-selector ="resouceDropSelector" 
                on-tap="open">

        <things-resource-dropdown-selector
            id="resouceDropSelector"
            title="Terminologies"
            resource-name="Terminology"
            resource-url="terminologies"
            root-property ="items"
            total-property ="total"
            layout="fullbleed layout vertical"
            selected-row = "{{dropSelectedRow}}">
        </things-resource-dropdown-selector>


        <paper-input label="dialog-seletor" 
                    data-selector ="resouceDialogSelector" 
                    on-tap="open"
                    value = "{{selectedRow.name}}">
        </paper-input>
        <input is="iron-input" 
                bind-value="{{selectedRow.name}}"
                data-selector ="resouceDialogSelector" 
                on-tap="open">

        <things-resource-dialog-selector
            id="resouceDialogSelector"
            title="Terminologies"
            resource-name="Terminology"
            resource-url="terminologies"
            root-property ="items"
            total-property ="total"
            layout="fullbleed layout vertical"
            selected-row = "{{dropSelectedRow}}">
        </things-resource-dialog-selector>

    </paper-material>
</section>

<script type="text/javascript">
    var app = document.querySelector('#app');

    app.open = function(e) {
      var input = e.target;
      while (!input.hasAttribute('data-selector') && input !== document.body) {
        input = input.parentElement;
      }
      if (!input.hasAttribute('data-selector')) {
        return;
      }
      var id = input.getAttribute('data-selector');
      var el = document.getElementById(id);
      if (el) {
        el.open();
      }
    };
</script>